<article id="events">

  <% @events.each do |event| %>
    <section>
      <h1><%= event.title %></h1>
      <h2>Date of event: <%= event.date %></h2>
      <p>
        <%= event.description %>
      </p>
      <% if user_signed_in? %>
        <p>
          <%= link_to 'Show', event %> |
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
        </p>
      <% end %>
    </section>
  <% end %>

  <%  if user_signed_in? %>
    <section>
      <%= link_to 'New Event', new_event_path %>
    </section>
  <% end %>

</article>